/* Overwritten styles  */
.page-content {
    padding: 0.5rem;
}
.page-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    font-family: "Bootstrap-icons";
    content: "\F285";
}

.input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
        .valid-feedback
    ):not(.invalid-tooltip):not(.invalid-feedback) {
    box-shadow: none;
}

/* Customized styles  */
.sentence_case::first-letter {
    text-transform: uppercase !important;
}

.action_btn {
    font-size: 16px !important;
}
