/* Overwritten styles  */
.page-content {
    padding: 0.5rem;
}
.page-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    font-family: "Bootstrap-icons";
    content: "\F285";
}

.input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
        .valid-feedback
    ):not(.invalid-tooltip):not(.invalid-feedback) {
    box-shadow: none;
}

.chip {
    width: 100%;
}

/* Custom styles  */
.sentence_case::first-letter {
    text-transform: uppercase !important;
}

.action_btn {
    font-size: 16px !important;
}

.gotoPage {
    width: 60px;
    font-size: 18px;
    color: #505050;
    background: linear-gradient(to right, #ddd, #999);
    border: none;
    text-align: center;
    border-radius: 10px;
}

/** File upload container **/
.file_upload_container {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
}

.file_upload_container .card_wrapper {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    min-height: 200px;
    background-color: #ffffff;
    padding: 10px 30px;
}

.file_upload_container .drop_box {
    cursor: pointer;
    margin: 10px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
    position: relative;
}
.file_upload_container .drop_box input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
