.footer{
  font-family: "HKGrotesk","Roboto", "Poppins", sans-serif;
  width: 100%;
  min-height: 55vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;

  .footer_main{
    width: 100%;
    position: relative;
    .footer_background{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #c5c2c2;
      display: block;

      .top_color{
        width: 20rem;
        height: 10rem;
        display: block;
        background-color: #000;
      }
    }
    .footer_container{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      .footer_top{
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        padding: 3rem;
        border-bottom: 1px solid #c5c2c2;
        background-color: #fff;
      
        .footer_logo{
          grid-column: span 2 / span 2;
          display: grid;
          justify-content: start;
          align-items: end;
      
          .logo{
            width: 15rem;
            height: 6rem;
      
            img{
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      
        .footer_title{
          font-size: 15px;
          margin-bottom: 2.5rem;
          font-weight: bold;
        }
        .quick_links_area{
          grid-column: span 1 / span 1;
        }
      
        .services_area{
          grid-column: span 3 / span 3;
        }
      
        .works_area{
          grid-column: span 1 / span 1;
        }
      
        .quick_links, .services, .works{
          list-style: none;
      
          .quick_link_item, .service_item, .work_item{
            padding: 4px 0;
          }
          a{
            text-decoration: none;
            font-size: 14px;
            color: var(--colorGrey);
      
            &:hover{
              color: rgb(240, 162, 18);
            }
          }
        }
       
      }
    
      .footer_bottom{
        padding: 2rem 3rem 4rem;
        display: flex;
        align-items: center;
        justify-content: end;
    
        .copyright{
          font-size: 14px;
        }
      }
    }
  }

}





